/**
 * Footer Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/

#pre-footer {
    padding-bottom: 0 !important;
    position: relative;
    @media screen and (max-width:$screen-sm) {
        background: none;
    }
    &::before {
        content:"";
        bottom:0;
        right: 0;
        width:50%;
        height:100%;
        background-image: url('/wp-content/uploads/2022/01/homepage-hero-03.jpg');
        background-size: cover;
        background-position: center center;
        position: absolute;

        @media screen and (max-width:$screen-sm) {
            z-index: -2;
            height: 750px;
            width: 100%;
        }

        @media screen and (max-width:$screen-xxs) {
            height: 280px;
        }
    }
    &::after {
        content:"";
        top: 0;
        right: 0;
        width: 50%;
        height: 50%;
        background: transparent linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%) 0% 0% no-repeat padding-box;
        position:absolute;
        @media screen and (max-width: $screen-sm) {
            width: 100%;
            height: 38%;
            bottom: 23%;
            top: revert;
            z-index: -1;
            background: transparent linear-gradient(180deg, #000 15%, transparent 50%) 0% 0% no-repeat padding-box;
        }
    }
    .container {
        max-width: revert;
        width: 100%;
        padding: 0;

        .column-50 {
            width: 50%;
            @media screen and (max-width: $screen-sm) {
                width: 100%;
            }
            &.content {
                .content_holder {
                    width: 80%;
                    margin: 0 0 0 auto;
                    padding: 0 30px 0 0;
                    @media screen and (max-width: $screen-sm) {
                        margin: 0 auto;
                    }
                    h2 {
                        border-top: none !important;
                        font-style: 48px;
                    }
                    .cta-holder {
                        span {
                            display: block;
                            font-weight: bold;
                            padding-top: 10px;
                            margin-bottom: 15px;
                        }
                        @media screen and (max-width: $screen-sm) {
                            span, a {
                                display: block;
                                margin-bottom: 15px;
                            }
                        }
                    }
                }           
            }

            &.pre-footer-image {
                .overlay {
                    .spacer-120 {
                        @media screen and (max-width: $screen-xxs) {
                            display:none;
                        }
                    }
                }
            }
        }
    }
}

footer {
    text-align: center;

    .custom-logo-link {
        img {
            width: 90%;
            margin: 0 auto;
            padding-right: 5px;
            max-width: 350px;
            @media screen and (max-width: $screen-md) {
                width: 50%;
                margin-top: -40px;
            }
        }
    }
    .contact-holder {
        p, a {
            display: flex;
            justify-content: center;
            margin-bottom: 0 !important;
        }

        &_upper {
            display: block;

            .left {
                width: 100%;
                display: block;
                margin: 0 0 15px;

                p {
                    display: block !important;
                    text-align: left;
                    margin-bottom: 15px !important;
                }

                .map {
                    iframe {
                        width: 100%;
                        height: 200px;
                    }
                }
            }

            .right {
                align-items: flex-start;
                display: flex;
                flex-wrap: wrap;
                text-align: left;

                p {
                    line-height: 140%;
                }
            }

            .phone {
                padding-right: 20px;
            }

            @media screen and (max-width:$screen-xs) {
                p {
                    display:block;
                    line-height: 120%;

                    strong {
                        margin-bottom: 10px;
                        display: block;
                    }

                    span {
                        display:none;
                    }
        
                    &:last-of-type {
                        margin-top: 30px;
                    }
        
                    a {
                        display:block;
                        width:100%;
                    }
                }
            }
        }
    }
    @media screen and (max-width: $screen-sm) {
        .contact-holder {
            &_upper {
                display: block;
            }
            p, a {
                margin-bottom: 8px !important;
                padding-right: 0;
            }
        }
        .spacer-30 {
            &:last-of-type {
                height: 90px;
            }
        }
    }
    .triangle-div {
        @include triangle-div;
        padding: 60px 0 20px;

        .container {
            .columns {
                justify-content: space-evenly;
            }
        }
        
        .social-media {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            margin-bottom: 30px;
            @media screen and (max-width: $screen-sm) {
                margin-top: 15px;
            }
            a {
                display: block;
                width: 35px;
                height: 35px;
                margin: 0 10px;
                &:active {
                    text-decoration: none;
                }
                span:after {
                    content: "";
                    font-family: $icomoon;
                    font-size: 35px;
                    height: 35px;
                    width: 35px;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    color: $ltblue;
                    transition: $trans;
                }
                &:hover {
                    span:after {
                        color: $dkblue;
                    }
                }
            }
            .facebook:after {
                content: "\e900";
            }
            .instagram:after {
                content: "\e901";
            }
            .linkedin:after {
                content: "\e902";
            }
            .twitter:after {
                content: "\e903";
            }
            .youtube:after {
                content: "\e908";
            }
            .tiktok:after {
                content: "\e909";
            }
        }
    }
    .column-33 {
        display: flex !important;
        justify-content: flex-start;
        align-items: flex-start;

        @media screen and (max-width:$screen-mdlg) {
            width:100% !important;
            justify-content: center !important;
            margin-bottom: 50px;
        }

        .menus {
            padding: 0;
            margin: 0;

            &:not(:last-of-type) {
                margin-right: 60px;
            }

            p {
                text-align: left;
                margin-bottom: 10px !important;
            }

            ul.menu {
                margin: 0 !important;
                list-style: none !important;
                padding: 0;

                li {
                    margin-bottom: 0px; 
                    margin-left: 0;
                    text-align: left;

                    &::before {
                        display:none;
                    }

                    a {
                        color:$white !important;
                    }
                }
            }
        }
    }

    .column-66 {
        display: flex !important;
        justify-content: space-between;

        @media screen and (max-width:$screen-mdlg) {
            width:80% !important;
        }

        @media screen and (max-width:$screen-sm) {
            display:block !important;
            width: 100% !important;
            
            .column-50 {
                width: 100%;
            }
        }
    }

}

.mobile-cta {
    display:none;
    @media screen and (max-width:$screen-xs) {
        position: fixed;
        width: 100%;
        z-index: 1;
        background: $dkblue;
        display: block;
        bottom: 0;
        .container {
            padding:0;
            .columns {
                justify-content: space-between;
                align-items: center;
                .column-50 {
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    width:50%;
                    height: 50px;
                    &:first-of-type {
                        border-right: 1px solid $white;
                    }
                }
            }
        }
    }
}