/**
 * Template Front Page Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/

.home {
    header #header-top #header-top_right #header-top_menu #menu-main-menu li.menu-item-158 a::before { display:none !important; }
    header #header-top #header-top_right #header-top_menu #menu-main-menu li.menu-item-158 a:hover::before { display:block !important; }
}

.page-template-front-page {
    .section-overlay {
        background: linear-gradient(180deg, #000 25%, #696868 67%, #908f8f 84%, #b9b8b8 93%, #c0c0c0 100%);
        position: relative;
        z-index: 0;
        @media screen and (max-width: $screen-sm) {
            background: linear-gradient(180deg, #000 65%, #696868 87%, #908f8f 90%, #b9b8b8 96%, #c0c0c0 100%);
        }
    }
    .image-overlay {
        max-width: revert;
        width: 100%;
        .img-holder {
            &.show-desktop {
                display: block;
                .fade-img {
                    display: none;
                    position: fixed;
                    left: 0;
                    bottom: 0;
                    z-index: -1;
                    max-width: 48%;
                    &.show-img {
                        display: block;
                    }
                }
                @media screen and (max-width: $screen-sm) {
                    display: none !important;
                }
            }
            &.show-mobile {
                display: none; 
                @media screen and (max-width: $screen-sm) {
                    display: block;
                    .img-static {
                        display: block;
                        height: 350px;
                        width: 100%;
                        background-position: left center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
    .quote-holder {
        .quote {
            &_left {
                display: block;
                left: -50px;
                bottom: -25px;
                @media screen and (max-width: $screen-sm) {
                    display: block;
                    position: static;
                    margin: 0 auto 10px;
                }            
            }
            &_right {
                display: block;
                margin: 0 0 0 auto;
                right: -30px;
                top: -30px;
                @media screen and (max-width: $screen-sm) {
                    display: block;
                    position: static;
                    margin: 10px auto;
                } 
            }
            &_left, &_right {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                height: 60px;
                width: 38px;
            }
            @media screen and (max-width: $screen-sm) {
                width: 80%;
                margin: 0 auto;
                display: block;
            }
        }
    }
    .quote_author {
        padding-top: 0;
        @media screen and (max-width: $screen-sm) {
            padding-top: 0;
            padding-bottom: 35px;
        } 
    }
    .page-header {
        padding: 240px 0 10px;
        position: relative;
        @media screen and (max-width:$screen-sm) {
            padding: 120px 0 10px;
        }
        @media screen and (max-width:$screen-xs) {
            padding: 80px 0 10px;
        }
        &::after {
            content:"";
            bottom:0;
            left: 0;
            width:50%;
            height:50%;
            background: $blk;
            background: linear-gradient(180deg, rgba(245,245,236,0) 40%, rgba(0,0,0,1) 100%);
            position:absolute;
            z-index: 1;
            @media screen and (max-width: $screen-sm) {
                display: none;
            }
        }
        .container {
            position: relative;
            z-index: 1;
            max-width: revert;
            width: 100%;
            padding: 0;
            @media screen and (max-width:$screen-sm) {
                margin-top:30px;
            }
            .columns {
                align-items: flex-end;
                &.grid {
                    display: grid !important;
                    grid-template-columns: 1fr 1fr;
                    @media screen and (max-width: $screen-sm) {
                        grid-template-columns: 1fr;
                    }
                    .column-50 {
                        width: 100%;
                        &.slider {
                            display: block;
                            height: 100%;
                            @media screen and (max-width: $screen-sm) {
                                height: 360px;
                            }
                        }
                        &.content {
                            padding: 0 30px 0 60px;
                            @media screen and (max-width: $screen-sm) {
                                padding-top: 60px;
                                margin-top: -100px;
                            }
                            @media screen and (max-width:$screen-xs) {
                                margin: -160px auto 0;
                                padding: 0;
                                width: 80%;
                            }
                        }
                    }
                    .hp-slides {
                        &::before {
                            content:"";
                            bottom:0;
                            left: 0;
                            width:100%;
                            height:140%;
                            background-size: cover;
                            background-position: center center;
                            position: absolute;
                            opacity: 0;
                            z-index: 0;
                            -webkit-animation-name: imageAnimation;
                                    animation-name: imageAnimation;
                            -webkit-animation-duration: 10s;
                                    animation-duration: 10s;
                            -webkit-animation-timing-function: ease-in-out;
                                    animation-timing-function: ease-in-out;
                            -webkit-animation-iteration-count: 1;
                                    animation-iteration-count: 1; 
                            @media screen and (max-width: $screen-xs) {
                                height: 125%;
                            }
                        }
                        &.image-one {
                            &::before {
                                background-image: url('/wp-content/uploads/2022/03/homepage-hero-01-larger.jpg');
                                -webkit-animation-delay: 0s;
                                        animation-delay: 0s; 
                                background-position: center top;
                                opacity: 1;
                            }
                        }
                        &.image-two {
                            &::before {
                                background-image: url('/wp-content/uploads/2022/03/homepage-hero-05-larger.jpg');
                                -webkit-animation-delay: 5s;
                                        animation-delay: 5s; 
                            }
                        }
                        &.image-three {
                            &::before {
                                background-image: url('/wp-content/uploads/2022/03/homepage-hero-02-larger.jpg');
                                -webkit-animation-delay: 10s;
                                        animation-delay: 10s; 
                                @media screen and (max-width: $screen-sm) {
                                    background-position: center top;
                                }
                            }
                        }
                        @-webkit-keyframes imageAnimation { 
                            0% { opacity: 0; }
                            5% { opacity: .9; }
                            10% { opacity: 1; }
                            100% { opacity: 1; }
                        }
                        @keyframes imageAnimation { 
                            0% { opacity: 0; }
                            5% { opacity: .9; }
                            10% { opacity: 1; }
                            100% { opacity: 1; }
                        }
                        .no-cssanimations .cb-slideshow li span {
                            opacity: 1;
                        }
                    }
                }
                h1 {
                    @include yellow-caps;
                }
                .headline {
                    display: block;
                    font-weight: bold;
                    font-size: 72px;
                    line-height: 105%;
                    font-family: $sans-heading;
                    text-transform: uppercase !important;
                    padding-bottom: 5px;
                    &_sub {
                        display: block;
                        font-weight: bold;
                        font-size: 32px;
                        line-height: 1.5;
                        font-family: $sans-heading;
                        @media screen and (max-width: $screen-sm) {
                            font-size: 20px;
                            line-height: 1.2;
                        }
                    }
                    @media screen and (max-width: $screen-lg) {
                        font-size: 56px;
                    }
                    @media screen and (max-width: $screen-sm) {
                        font-size: 42px;
                        line-height: 1.2;
                    }
                }
                .cta-holder {
                    @media screen and (max-width: $screen-sm) {
                        padding: 0;
                        width: 80%;
                        margin: 0;
                        .cta {
                            display: none;
                        }
                    }
                }
            }
        }
        .spacer-90 {
            @media screen and (max-width: $screen-md) {
                height:60px
            }
            @media screen and (max-width: $screen-sm) {
                height:20px
            }
        }
    }
    .more {
        border-top: 1px solid $yellow;
        width: 5px;
        height: 5px;
        display: inline-block;
        border-right: 1px solid $yellow;
        transform: rotate(135deg);
        position: relative;
        vertical-align: middle;
        margin-top: -5px;
        margin-left: 20px;
        &::before {
            content: "";
            width: 18px;
            height: 18px;
            position: absolute;
            border-radius: 50%;
            border: 1px solid $yellow;
            content: "";
            left: -6px;
            top: -9px;
        }
    }
    #home_lower {
        padding-top:10px;
        .column-50 {
            @media screen and (max-width: $screen-md) {
                width:66%;
            }
            @media screen and (max-width: $screen-sm) {
                width:100%;
            }
        }
    }
    .section-separator {
        display: flex;
        width: 45%;
        margin: 0 auto;
        position: relative;
        @media screen and (max-width: $screen-md) {
            width:66%;
        }
        @media screen and (max-width: $screen-sm) {
            width:100%;
        }
        #separator-icon {
            max-width: 55px;
            margin: 30px auto 60px;
        }
    }
    .panel1 {
        .container {
            padding: 0;
            max-width: revert;
            width: 100%;
            .column-50 {
                &:first-of-type {
                    width: 37%;
                    margin: 0 7% 0 auto;
                    @media screen and (max-width: $screen-sm) {
                        width: revert;
                        margin: revert;
                    }
                }
            }
        }
        .content-holder {
            width: 75%;
            margin: 0 auto;
            @media screen and (max-width: $screen-sm) {
                width: 80%;
                .spacer-30 {
                    display: none;
                }
            }
        }
    }
    .panel2 {
        @media screen and (max-width: $screen-sm) {
            margin-top: -100px;
        }
        h3 {
            color: $white !important;
        }
        .awards-block {
            @include grid-layout-3();
            margin-top: 80px;
            .award {
                margin: 0 auto;
            }
            img {
                max-height: 120px;
            }
        }
    }

    .hp-videos {
        background:#1b1b1b;
        
        .columns {
            &.videos-header {
                align-items: center;
                
                .column-75 {
                    h2 {
                        color:$yellow !important;
                        margin:0 !important;
                        border-top: none !important;
                    }
                }

                .column-25 {
                    text-align: right;
                    
                    @media screen and (max-width:$screen-md) {
                        width: 100% !important;
                        text-align: left;
                    }
                }
            }

            &.videos {
                width: 100%;
                flex-wrap: nowrap;
                overflow-x: scroll !important;
                gap: 85px;
                scrollbar-width: thin;
                scrollbar-color: #4a4a4a transparent;
                -webkit-overflow-scrolling: touch;
                padding-bottom: 50px;

                &::-webkit-scrollbar {
                    height: 10px; // horizontal
                    width: 10px;  // fallback if vertical appears
                }

                &::-webkit-scrollbar-track {
                    background: transparent;
                    border-radius: 999px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #4a4a4a;
                    border-radius: 9999px;
                    border: 2px solid transparent;
                    background-clip: content-box;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background-color: #5a5a5a;
                }

                .column-33 {
                    min-width: -webkit-fit-content;
                    min-width: -moz-fit-content;
                    min-width: fit-content;

                    @media screen and (max-width:$screen-md) {
                        min-width: 36% !important;
                    }

                    @media screen and (max-width:$screen-sm) {
                        min-width: 60% !important;
                    }

                    @media screen and (max-width:$screen-xs) {
                        min-width: 65% !important;
                    }

                    @media screen and (max-width:$screen-xxs) {
                        min-width: 71% !important;
                    }
                }
            }
        }
    }

    .panel4 {
        .offense-block {
            @media screen and (max-width: $screen-sm) {
                margin-top: 45px;
                margin-bottom: -90px;
            }
            &_left {
                width: 55%;
                .label {
                    font-family: $sans-heading;
                    font-weight: bold;
                    font-size: 100px;
                    line-height: 1.1;
                    color: $white;
                    opacity: .15;
                    text-align: center;
                    text-transform: uppercase;
                    display: block;
                    margin: 0 auto;
                    @media screen and (max-width: $screen-sm) {
                        display: inline-block;
                        font-size: 50px;
                    }
                }
                @media screen and (max-width: $screen-sm) {
                    width: 90%;
                    margin: 0 auto;
                    .spacer-60 {
                        display: none;
                    }
                }
            }
            &_right {
                h3 {
                    margin: 10px 0 !important;
                }
                .list-holder {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: space-between;
                    @media screen and (max-width: $screen-sm) {
                        flex-direction: column;
                    }
                    .list {
                        flex-basis: 32%;
                        &_number {
                            display: block;
                            font-family: $sans;
                            color: $yellow !important;
                            font-size: 36px;
                            line-height: 1.2;
                            font-weight: 300;
                        }
                    }
                }
                @media screen and (max-width: $screen-sm) {
                    margin-top: -30px;
                }
            }
        }
    }
    .panel5 {
        @media screen and (max-width: $screen-sm) {
            margin-top: -60px;
        }
        .overlay {
            background-image: url("/wp-content/uploads/2022/01/homepage-seth-circle-gradient.png");
            background-position: center right -100px;
            background-size: contain;
            background-repeat: no-repeat;
            height: 700px;
            @media screen and (max-width: $screen-sm) {
                background-position: top center;
                background-size: cover;
            }
            .button {
                display: block;
                margin: 30px auto 0;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
            }
            @media screen and (max-width: $screen-sm) {
                .section-separator {
                    display: none;
                }
            }
        }
    }
    .panel6 {
        background-image: url('/wp-content/uploads/2022/01/homepage-east-bay-graphic.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
        margin-top: -2px;
    }
}